!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      body {
        margin: 0;
        font-family: Geneva;
      }
      
      .banner {
        overflow: hidden;
        background-color: #FFFFFF;
        height: 50px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #500000;
      }
      
      .topnav b {
        float: left;
        width: 23.25%;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav b:hover {
        background-color: #8a0000;
        color: white;
      }
      
      .topnav b.active {
        background-color: #8a0000;
        color: white;
      }
  %body
    .banner{:style => "padding-left:15px; padding-top:10px;"}
      %h{:href => "#index", :style => "color:#500000; font-size: 30px;"} CSE GRAD NETWORKING SITE
    .topnav
      %b=link_to "Home", grads_index_url(password: @pw, email: @em), style: 'color:#FFFFFF; text-decoration:none;'
      %b=link_to "Search", grads_search_url(password: @pw, email: @em), style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Messages", students_message_url(password: @pw, email: @em), style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Profile", students_profile_url(password: @pw, email: @em), style: 'color:#FFFFFF;text-decoration:none;'
    %div{:style => "padding-left:16px"}
      %h2 Top Navigation Example
      %h2= link_to "Go to Profile", students_profile_url
      %h3 Welcome, #{@introMsg}
      %form
        = label :email, "Email"
        = text_field_tag :email
        = label :user, :password
        = password_field_tag :password
        %input{:type => "submit", :value => "Sign in"}
      %b= link_to "Logout", grads_index_url(password: "", email: "")

