!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      a:hover, a:active {
        color: #FCE300;
        text-decoration: bold;
      }
      a {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      .splitDes{
        position: absolute;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 0px;
      }
      .Img1{
        height:300px;
        width: 40%;
        position: absolute;
        overflow-x: hidden;
        overflow-y: hidden;
        left: 0%;
      }

      .Text1{
        overflow-y: hidden;
        height:300px;
        color:white;
        background-color: #500000;
        width: 60%;
        position: relative;
        overflow-x: hidden;
        left: 40%;
      }

      .Img2{
        height:300px;
        width: 40%;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        left: 60%
      }

      .Text2{
        height:300px;
        width: 60%;
        position: absolute;
        left: 0%;
        background-color: #FFF;
        overflow-x: hidden;
        overflow-y: hidden;
      }
 
      .crop{
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      imgChas{
        clip: rect(0px,60px,200px,0px);
      }

      imgPaula{
        clip: rect(0px,60px,200px,0px);
      }

      .split {
        height: 175px;
        width: 25%;
        position: absolute;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 0px;
      }
      
      .left {
        left: 0%;
        background-color: #332C2C;
      }
      
      .right {
        left:25%;
        background-color: #332C2C;
      }

      .right2{
        left:50%;
        background-color:#332C2C;
      }

      .right3{
        left:75%;
        background-color:#332C2C;
      }
      
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color:white;
      }
      
      #botBanner{
      height: 120px;
      bottom: 0px;
      left: 0px;
      background-color: #332C2C;
      width: 100%;
      }

      .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 12px;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }
      
      .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }

      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
      }

      body {
        margin: 0;
        font-family: Geneva;
      }
      
      .banner {
        overflow: hidden;
        background-color: #FFFFFF;
        height: 50px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #500000;
      }
      
      .topnav b {
        float: left;
        width: 23.25%;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav b:hover {
        background-color: #8a0000;
        color: white;
      }
      
      .topnav b.active {
        background-color: #8a0000;
        color: white;
      }

  %body
    .banner{:style => "padding-left:15px; padding-top:10px;"}
      %h{:href => "#index", :style => "color:#500000; font-size: 30px;"} CSE GRAD NETWORKING SITE
    .topnav
      %b=link_to "Home", students_index_url, style: 'color:#FFFFFF; text-decoration:none;'
      %b=link_to "Search", students_search_url, style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Messages", students_message_url, style: 'color:#FFFFFF;text-decoration:none;'
      - if @introMsg != "Guest"
        %b=link_to "Profile", students_profile_url, style: 'color:#FFFFFF;text-decoration:none;'

    %div{:style => "padding-left:0px"}
      - if @introMsg == "Guest"
        %button.collapsible Welcome, Guest. Would you like to login?
        .content
          %br/
          = form_tag students_login_url, :method => :get do
            = label :email, "Email"
            = text_field_tag :email
            = label :student, :password
            = password_field_tag :password
            =submit_tag 'Sign In'
          %br/
          = link_to "Or Sign Up", new_student_path, style: 'color:#454545;'
          %br/
          %div{:style => "padding-left:16px"}
            - flash.each do |key, value|
              .alert
                %strong
                  = value
      - else
        %b= link_to "Logout", students_logout_url, style: 'color:#33AFFF;'
      
      %h3 Welcome, #{@introMsg}
    
    .splitDes.Img1
      .crop.imgChas
        %img{:alt => "Chaspari", :src => "https://i.ibb.co/grgkkpX/chaspari.jpg"}/
    .splitDes.Text1
      .centered
        %h2 Students, faculty, and staff in CSE are continuing to work together to build an even stronger department.

    .splitDes.Text2
      .centered
        %h4{:style => "color:#500000;"} The mission of the Department of Computer Science is to develop the human and intellectual resources needed to meet the future technological challenges in the field of computing. This includes developing computer scientists and computer engineers for positions of leadership in industry, government, and academia.
    .splitDes.Img2
      .crop.imgPaula
        %img{:alt => "Paula", :src => "https://i.ibb.co/PYqMJWN/grid-1.jpg"}/

    .split.left
      .centered
        %p 
          %a{:href => "https://engineering.tamu.edu/cse/index.html"} The Department of Computer Science and Engineering
        %h5 
          %a{:href => "https://engineering.tamu.edu/"} College of Engineering
    .split.right
      .centered
        %p 
          %a{:href => "https://engineering.tamu.edu/cse/index.html"} Department of Computer Science & Engineering
        %h5 
          %a{:href => "https://www.google.com/maps/dir//301+Harvey+R.+Bright+Building+College+Station,+TX+77843-3112/@30.6190341,-96.3738075,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x86468396cc4eaaf3:0xff0cb9f3dca1a1aa!2m2!1d-96.338788!2d30.6190388"} 301 Harvey R. Bright Building College Station, TX 77843-3112
    .split.right2
      .centered
        %h5 Phone: 979-458-3870
        %h5 Fax: 979-845-1420
        %h5 cse-general@cse.tamu.edu
    .split.right3
      .centered
        %h3 
          %a{:href => "https://engineering.tamu.edu/cse/profiles/index.html"} Faculty
        %h3
          %a{:href => "https://engineering.tamu.edu/cse/profiles/staff.html"} Staff
        %h6 
          %a{:href => "https://github.com/theananthanarayan/unpaid_interns/"} Unpaid Interns


    :javascript
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }


