!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 12px;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }
      
      .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }

      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
      }

      body {
        margin: 0;
        font-family: Geneva;
      }
      
      .banner {
        overflow: hidden;
        background-color: #FFFFFF;
        height: 50px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #500000;
      }
      
      .topnav b {
        float: left;
        width: 23.25%;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav b:hover {
        background-color: #8a0000;
        color: white;
      }
      
      .topnav b.active {
        background-color: #8a0000;
        color: white;
      }

  %body
    .banner{:style => "padding-left:15px; padding-top:10px;"}
      %h{:href => "#index", :style => "color:#500000; font-size: 30px;"} CSE GRAD NETWORKING SITE
    .topnav
      %b=link_to "Home", students_index_url, style: 'color:#FFFFFF; text-decoration:none;'
      %b=link_to "Search", students_search_url, style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Messages", students_message_url, style: 'color:#FFFFFF;text-decoration:none;'
      - if @introMsg != "Guest"
        %b=link_to "Profile", students_profile_url(id: @ID), style: 'color:#FFFFFF;text-decoration:none;'

    %div{:style => "padding-left:0px"}
      - if @introMsg == "Guest"
        %button.collapsible Welcome, Guest. Would you like to login?
        .content
          %br/
          = form_tag students_login_url, :method => :get do
            = label :email, "Email"
            = text_field_tag :email
            = label :student, :password
            = password_field_tag :password
            =submit_tag 'Sign In'
          %br/
          = link_to "Or Sign Up", new_student_path
          %br/
          %div{:style => "padding-left:16px"}
            - flash.each do |key, value|
              .alert
                %strong
                  = value
      - else
        %b= link_to "Logout", students_logout_url
      
      %h3 Welcome, #{@introMsg}
      %img{:alt => "cs landing", :src => "https://engineering.tamu.edu/cse/_files/_images/_content-images/tapia_2016.jpg", :class => "center"}/

    %div{:style => "text-align:center;padding:30px;"}
      %h4 Students, faculty, and staff in CSE are continuing to work together to build an even stronger department. 
      %h4 The mission of the Department of Computer Science is to develop the human and intellectual resources needed to meet the future technological challenges in the field of computing. This includes developing computer scientists and computer engineers for positions of leadership in industry, government, and academia.
    :javascript
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }
