!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      body {
        margin: 0;
        font-family: Geneva;
      }
      
      .banner {
        overflow: hidden;
        background-color: #FFFFFF;
        height: 50px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #500000;
      }
      
      .topnav b {
        float: left;
        width: 23.25%;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav b:hover {
        background-color: #8a0000;
        color: white;
      }
      
      .topnav b.active {
        background-color: #8a0000;
        color: white;
      }
  %body
    .banner{:style => "padding-left:15px; padding-top:10px;"}
      %h{:href => "#index", :style => "color:#500000; font-size: 30px;"} CSE GRAD NETWORKING SITE
    .topnav
      %b=link_to "Home", grads_index_url, style: 'color:#FFFFFF; text-decoration:none;'
      %b=link_to "Search", grads_search_url, style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Messages", students_message_url, style: 'color:#FFFFFF;text-decoration:none;'
      %b=link_to "Profile", students_profile_url, style: 'color:#FFFFFF;text-decoration:none;'
    %h2 Profile Test Page
    %h2= link_to "Go to Home", grads_index_url

    %row
      %column
        %h3= @student.firstName + " " + @student.lastName
        %h3= "Class of #{@student.classYear}"
        %img= image_tag @student.profilePic
        %h3= @student.Advisor
        %h3= link_to "Send a Message", students_message_url
      %column
        %p= @student.description
